<html>
<body>
	<h1>{{ title }}</h1>
	<h2>Jobs</h2>
	<table>
		{% if jobs|length == 0 %}
			<tr><th>None currently available</th></tr>
		{% else %}
		<tr>
			<th>Id</th>
			<th>Action</th>
			<th>Status</th>
			<th>Available</th>
		</tr>
		{%for job in jobs %}
		<tr>
			<td>{{job.jobId}}</td>
			<td>{{job.action}}</td>
			<td>{{job.statusCode}}{% if job.retrievedOutput%}, Retrieved{%endif%}</td>
			<td>{{job.available}}</td>
		</tr>
		{% endfor %}
		{% endif %}
	</table>
	
	<h2>Archives</h2>
	<table>
		{% if archives|length == 0 %}
			<tr><th>None currently available</th></tr>
		{% else %}
		<tr>
			<th>Id</th>
			<th>Size</th>
			<th>Description</th>
			<th>Created On</th>
			<th>Was Uploaded</th>
			<th>Retrievals</th>
		</tr>
		{%for archive in archives %}
		<tr>
			<td>{{archive.archiveId}}</td>
			<td>{{archive.size}}</td>
			<td>{{archive.description}}</td>
			<td>{{archive.creationDate}}</td>
			<td>{% if archive.uploadList|length %}True{% else %}False{% endif %}</td>
			<td>{{archive.retrievalList|length}}</td>
		</tr>
		{% endfor %}
		{% endif %}
	</table>
</body>
</html>