<html>
<body>
	<h1>{{ title }}</h1>
	<h2>Jobs</h2>
	<table>
		{% if jobs|length == 0 %}
			<tr><th>None currently available</th></tr>
		{% else %}
		<tr>
			<th>Id</th>
			<th>Action</th>
			<th>Status</th>
			<th>Available</th>
		</tr>
		{%for job in jobs %}
		<tr>
			<td>{{job.jobId|slice:"0:10"}}</td>
			<td>{{job.action}}</td>
			<td>{{job.statusCode}}{% if job.retrievedOutput%}, Retrieved{%endif%}</td>
			<td>{{job.available}}</td>
		</tr>
		{% endfor %}
		{% endif %}
	</table>
	
	<h2>Inventory</h2>
	<table>
		{% if not inventory %}
			<tr><th>None currently available</th></tr>
		{% else %}
			<table>
				<tr><th colspan=4>{{inventory.outputObj.VaultARN}}</th></td>
				<tr><th colspan=4>{{inventory.date}}{% if not inventory.processed %} (Not Processed){% endif %}</th></td>
				{% for a in inventory.outputObj.ArchiveList %}
					<tr>
						<td>{{a.ArchiveId|slice:"0:10"}}</td>
						<td>{{a.ArchiveDescription}}</td>
						<td>{{a.Size}}</td>
						<td>{{a.CreationDate}}</td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}
	</table>
	
	<h2>Archives</h2>
	<table>
		{% if archives|length == 0 %}
			<tr><th>None currently available</th></tr>
		{% else %}
		<tr>
			<th>Id</th>
			<th>Size</th>
			<th>Description</th>
			<th>Created On</th>
			<th>Was Uploaded</th>
			<th>#Retrievals</th>
			<th>#Uploads</th>
		</tr>
		{%for archive in archives %}
		<tr>
			<td>{{archive.archiveId|slice:"0:10"}}</td>
			<td>{{archive.size}}</td>
			<td>{{archive.description}}</td>
			<td>{{archive.creationDate}}</td>
			<td>{% if archive.uploadList|length %}True{% else %}False{% endif %}</td>
			<td>
			{% if archive.retrievalList|length == 0 %}
			None
			{% else %}
				<table>
					<tr>
						<th>Range</th>
					</tr>
				{% for r in archive.retrievalList %}
					<tr>
						<td>{{ r.startByte }}-&gt;{{ r.endByte }}</td>
					</tr>
				{% endfor %}
				</table>
			{% endif %}
			</td>
			{% if archive.uploadList|length == 0 %}
			None
			{% else %}
			<td>
				<table>
					<tr>
						<th>Id</th>
						<th>Path</th>
						<th>Parts</th>
					</tr>
					{% for up in archive.uploadList %}
					<tr>
						<td>{{up.upload.uploadId|slice:"0:10"}}</td>
						<td>{{up.upload.filePath}}</td>
						<td>
							<table>
								<tr>
									<th>Index</th>
									<th>Range</th>
									<th>Uploaded</th>
								</tr>
								{% for p in up.upload.partList %}
								<tr>
									<td>{{p.index}}</td>
									<td>{{p.startByte}}-&gt;{{p.endByte}}</td>
									<td>{{p.isUploaded}}</td>
								</tr>
								{% endfor %}
							</table>
						</td>
					</tr>
					{% endfor %}
				</table>
			</td>
			{% endif %}
		</tr>
		{% endfor %}
		{% endif %}
	</table>
</body>
</html>