<html>
<body>
	<h1>{{ title }}</h1>
	
	<h2>Conversions</h2>
	<!--
	<table>
		<tr>
			<th>Date</th>
			<th>Metadata</th>
			<th>View</th>
		</tr>
		{% for c in tiles %}
		<tr>
			<td>{{c.orig.filePath}}</td>
			<td>{{c.getImageCreationDate}}</td>
			<td>
				{% if c.metadataObj %}
					{{c.metadataObj.Type}}, {{c.metadataObj.Width}}
					{% if c.metadataObj.Type == "detections" %}
					{{c.metadataObj.DetectionsInfo}}
					{% endif %}
				{% endif %}</td>
			<td>-->
				{% if c.file %}<a href="{% url 'see' c.orig.id %}"><img src="{{c.file.url}}"/></a><!--{% else %}None{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>-->
</body>
</html>
